@model BookingWebApi.Models.CV
@{ 
    ViewBag.Title = "Cv info"; 
}
<h1>@Model.FirstName @Model.LastName</h1>
<h1>Adress</h1>
<p>Country: @Model.Adress.Country</p>
<p>Index: @Model.Adress.Country</p>
<p>City: @Model.Adress.City</p>
<p>street: @Model.Adress.Street</p>
<p>Home number: @Model.Adress.HomeNumber</p>
<h1>Last work:</h1>
<p>Work name: @Model.Work.Name</p>
<p>Work position: @Model.Work.Position</p>
<p>WorkLoad: @Model.Work.WorkLoad</p>
<p>Total time spent on this work: @Model.Work.TotalTimeSpentWorking</p>
<p>Medium daily spent time on this work: @Model.Work.DailySpentTime</p>
<h1>Education:</h1>
<p>Name: @Model.Education.Name</p>
<p>Faculty: @Model.Education.Faculty</p>
<p>Field of study: @Model.Education.FieldOfStudy</p>
<p>Medium daily spent time on study: @Model.Education.DailySpentTime</p>
<p>Education status: @Model.Education.Status</p>

